<div class="story">
<h1></h1>
<div class="path">main/auto/myConnect/regression/story/ConfluenceUserCanSetRestrictionsOnExistingPage.story</div>
<div class="scenario">
<h2>Scenario: Test that a user can set restrictions on existing page</h2>
<div class="examples">
<h3>Examples:</h3>
<div class="step">Given Create a test blank page</div>
<div class="step">Then Make sure user is able to click the restrictions option from the action menu list</div>
<div class="step">Then Make sure the update page restrictions dialog is showing up</div>
<div class="step">Then Close the restrictions dialog</div>
<div class="step">Then Delete the test page</div>
<div class="step">Then Logout</div>
<table>
<thead>
<tr>
<th>url</th><th>username</th><th>password</th></tr>
</thead>
<tbody>
<tr>
<td>https://atlassianqa.atlassian.net/login</td><td>lijinze01@gmail.com</td><td>passw0rd</td></tr>
</tbody>
</table>

<h3 class="example">Example: {url=https://atlassianqa.atlassian.net/login, username=lijinze01@gmail.com, password=passw0rd}</h3>
<div class="givenStories">GivenStories:
<div class="givenStory">/main/auto/myConnect/common/story/login.story </div>
</div>
<div class="story">
<h1></h1>
<div class="path">main/auto/myConnect/common/story/login.story</div>
<div class="scenario">
<h2>Scenario: Launch Atlassian and login</h2>
<div class="examples">
<h3>Examples:</h3>
<div class="step">Given Launch Atlassian and Login with &lt;url&gt; &lt;username&gt; &lt;password&gt;</div>
<table>
<thead>
<tr>
<th>url</th><th>username</th><th>password</th></tr>
</thead>
<tbody>
<tr>
<td>https://atlassianqa.atlassian.net/login</td><td>lijinze01@gmail.com</td><td>passw0rd</td></tr>
</tbody>
</table>

<h3 class="example">Example: {url=https://atlassianqa.atlassian.net/login, username=lijinze01@gmail.com, password=passw0rd}</h3>
<div class="step successful">Given Launch Atlassian and Login with <span class="step parameter">https://atlassianqa.atlassian.net/login</span> <span class="step parameter">lijinze01@gmail.com</span> <span class="step parameter">passw0rd</span></div>
</div>
</div>
</div>
<div class="step successful">Given Create a test blank page</div>
<div class="step successful">Then Make sure user is able to click the restrictions option from the action menu list</div>
<div class="step successful">Then Make sure the update page restrictions dialog is showing up</div>
<div class="step successful">Then Close the restrictions dialog</div>
<div class="step successful">Then Delete the test page</div>
<div class="step successful">Then Logout</div>
</div>
</div>
</div>
