<div class="story">
<h1></h1>
<div class="path">main/auto/myConnect/regression/story/ConfluenceUserCanCreateANewPage.story</div>
<div class="scenario">
<h2>Scenario: Test that a user can create a new page</h2>
<div class="examples">
<h3>Examples:</h3>
<div class="step">Given Make sure the quick create page button is available</div>
<div class="step">When Click the quick create page button</div>
<div class="step">Then A new blank page is displayed</div>
<div class="step">Given Make sure the create page button is available</div>
<div class="step">When Click the create page button</div>
<div class="step">Then The create page pop-up with &lt;pageTemplates&gt; is showing up</div>
<div class="step">Then Close create page dialog</div>
<div class="step">Then Logout</div>
<table>
<thead>
<tr>
<th>url</th><th>username</th><th>password</th><th>pageTemplates</th></tr>
</thead>
<tbody>
<tr>
<td>https://atlassianqa.atlassian.net/login</td><td>lijinze01@gmail.com</td><td>passw0rd</td><td>JIRA report</td></tr>
</tbody>
</table>

<h3 class="example">Example: {url=https://atlassianqa.atlassian.net/login, username=lijinze01@gmail.com, password=passw0rd, pageTemplates=JIRA report}</h3>
<div class="givenStories">GivenStories:
<div class="givenStory">/main/auto/myConnect/common/story/login.story </div>
</div>
<div class="story">
<h1></h1>
<div class="path">main/auto/myConnect/common/story/login.story</div>
<div class="scenario">
<h2>Scenario: Launch Atlassian and login</h2>
<div class="examples">
<h3>Examples:</h3>
<div class="step">Given Launch Atlassian and Login with &lt;url&gt; &lt;username&gt; &lt;password&gt;</div>
<table>
<thead>
<tr>
<th>url</th><th>username</th><th>password</th></tr>
</thead>
<tbody>
<tr>
<td>https://atlassianqa.atlassian.net/login</td><td>lijinze01@gmail.com</td><td>passw0rd</td></tr>
</tbody>
</table>

<h3 class="example">Example: {url=https://atlassianqa.atlassian.net/login, username=lijinze01@gmail.com, password=passw0rd}</h3>
<div class="step successful">Given Launch Atlassian and Login with <span class="step parameter">https://atlassianqa.atlassian.net/login</span> <span class="step parameter">lijinze01@gmail.com</span> <span class="step parameter">passw0rd</span></div>
</div>
</div>
</div>
<div class="step successful">Given Make sure the quick create page button is available</div>
<div class="step successful">When Click the quick create page button</div>
<div class="step successful">Then A new blank page is displayed</div>
<div class="step successful">Given Make sure the create page button is available</div>
<div class="step successful">When Click the create page button</div>
<div class="step successful">Then The create page pop-up with <span class="step parameter">JIRA report</span> is showing up</div>
<div class="step successful">Then Close create page dialog</div>
<div class="step successful">Then Logout</div>
</div>
</div>
</div>
