		body
		{
			align="center";
     		font-family: "arial", Georgia, Serif;
			background-color: FFFAFA;
		}
		
		h2
		{
			overflow: auto;
			margin-top: 30;
			margin-left: 10;
			margin-bottom: 30;
			padding-top: 3;
			padding-left: 3;
		}

		h3
		{
			text-align: center;
		}
		
		.company-logo
		{
			float: right;
		}

		.app-logo
		{
			float: left;
			margin:0 0 0 87;
		}	
	

		.test-results-header 
		{   
			margin:0 0 0 87;
	     }          
		.test-result-table 
		{              
			border: 1px solid black;             
			width: 1300px;
			margin:10 0 30 87;
			position  : absolute; 
			width     : 90%;  
			height    : 90%; 
			text-align: center;
		}          
		
		.test-result-table-header-cell 
		{              
			border-right: 1px solid gray;
			border-bottom: 1px solid black;             
			background-color: 000080;
			color: white;
			font-weight: bold;			
		}
		.test-result-step-command-timestamp
		{             
			border-right: 1px solid gray;
			border-bottom: 1px solid gray;  
		}   
		.test-result-step-command-cell 
		{             
			border-bottom: 1px solid gray;  
			text-align: left;			
		}          
		.test-result-step-command-index
		{             
			border-right: 1px solid gray;
			border-bottom: 1px solid gray;          
		}  
		.test-result-step-command-empty
		{             
			border-bottom: 1px solid gray; 
			border-left: 1px solid gray;
			border-right: 1px solid gray;
			         
		}          
		.test-result-step-description-cell 
		{              
			border-bottom: 1px solid gray;          
		}          
		.test-result-step-result-cell-ok 
		{              
			border-left: 1px solid gray;
			border-right: 1px solid gray;
			border-bottom: 1px solid gray;            
			background-color: AFF4DA; 
			color: green;
		}       
		.test-result-step-result-cell-failure
		{   
			border-left: 1px solid gray;
			border-right: 1px solid gray;
			border-bottom: 1px solid gray;   
			background-color: F4A2B0;
			color: B22222;
		}      
		.test-result-step-result-cell-notperformed 
		{       
			border-bottom: 1px solid gray;    
			background-color: white;   
        	}        
		.test-result-describe-cell 
		{       
			background-color: tan;       
			font-style: italic;  
		}        
		.test-result-step-row 
		{          }       
		.test-result-comment-row 
		{                      }    
		.test-result-step-row-altone 
		{        
			/* background-color: white; */  
		}        
		.test-result-step-row-alttwo 
		{  
			/* background-color: cadetblue; */   
		}         
		.test-cast-status-box-ok 
		{            
			border: 1px solid black;         
			margin-right: 10px;       
			width: 45px;     
			height: 25px;      
			background-color: green;   
		}
		.test-cast-status-box-fail 
		{            
			border: 1px solid black;   
			margin-right: 10px;       
			width: 45px;     
			height: 25px;      
			background-color: red;   
		}  

        a.testcase:link{
          color:blue;
        }
        a.testcase:visited{
          color:blue;
        }
        a.testcase:hover{
          color:orange;
        }
        a.testcase:focus{
          color:green;
        }
        a.testcase:active{
          color:red;
        }		